* {
  box-sizing: border-box;
}

html,
body {
  box-sizing: border-box;
}

#root {
  width: 100%;
  margin: 0;
  text-align: center;
}
.App {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 1rem;
}
.section {
  padding: 1rem;
  background-color: white;
  border-radius: 25px;
}

.filteredProduct {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 15px;
}

.filterItem {
  width: calc(33.33% - 15px);
  background-color: gray;
  color: white;
  padding: 20px;
}

.true {
  color: green;
}

.false {
  color: red;
}

.filterPriceContent {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.filterPriceContent input {
  width: 100%;
  padding: 10px;
  border-radius: 15px;
  margin-top: 15px;
}
